div
  div
    - var preload = "loadStaff()";
    form#manageStaffForm(name='newItemForm' ng-init='#{preload}')
        table.table.table-bordered.table-hover
          thead
            tr.active
              th &nbsp;
              th Staff
              th Position
            tr(ng-repeat='staff in clinic.staff')
              td
                span(ng-if="staff.status != 'on duty'")
                  button.btn.btn-primary.btn-xs(type='button' ng-click="setDuty(staff.id,'on duty')") +
                span(ng-if="staff.status == 'on duty'")
                  button.btn.btn-danger.btn-xs(type='button' ng-click="setDuty(staff.id, 'off duty')") -           
              td 
                span(ng-if="staff.status != 'on duty'")
                  span {{staff.name}} [ {{staff.id}}] &nbsp;
                span(ng-if="staff.status == 'on duty'")
                  b  {{staff.name}} [ {{staff.id}}]
                  i.glyphicon.glyphicon-ok.navbar-right

              td {{staff.role}} {{ staff.status }}
        hr

        button.btn.btn-success(type='button' ng-click="newStaff()" ng-disabled="newItemForm.$invalid") Add Outside Staff
        p
  hr
  div#internalMessage
